.about-us {
  @include page-grid;

  &__title {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__content {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__description {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 140%;
    font-weight: $font-size-medium;
    font-size: 23px;
  }
}
