.icon {
  display: block;
  background-size: cover;
  background-position: center;

  height: 24px;
  width: 24px;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }
}

.icon--phone {
  background-image: url(../images/icons/Icon-Phone-call.svg);

  @include on-desktop {
    &::after {
      content: '+1 234 555-55-55';
      position: absolute;
      right: calc(100% + 24px);
      top: 50%;
      transform: translateY(-50%) translateX(24px);
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2px;
      align-items: end;
      color: $main-text-color;
      transition: all 300ms;
      white-space: nowrap;
      opacity: 0;
    }

    &:hover::after {
      transform: translateY(-50%) translateX(0);
      opacity: 1;
    }
  }
}

.icon--menu {
  background-image: url(../images/icons/Icon-Burger-menu.svg);

  &:hover {
    background-image: url(../images/icons/Icon-Burger-menu-hover.svg);
  }
}

.icon--close {
  background-image: url(../images/icons/Icon-Close.svg);
}
