$color-main: #1d1d1d;
$main-text-color: #fff;
$font-family: Poppins, sans-serif;
$font-size-bold: 700;
$font-size-semibold: 600;
$font-size-medium: 500;
$font-size-regular: 400;
$desktop-min-width: 1024px;
$tablet-min-width: 576px;
$phone-min-width: 320px;
$page-min-width: $phone-min-width;
$animation-time: 300ms;
